body {
    margin: 20px;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(235, 207, 174);
}

h1 {
    text-align: center;
    color: rgb(8, 8, 8);
}

form {
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8)
}

fieldset {

    border: 2px solid rgb(31, 98, 243);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(243, 247, 247);
}

legend {
    font-weight: bold;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color: black;
}

input,
textarea {
    box-sizing: border-box;
    width: calc(100% - 1%);
    padding: 10px;
    margin-top: 8px;
    border: 1px solid blue;
    border-radius: 5px;
    color: black;
    box-sizing: border-box;
}

button {
    display: block;

    width: 150px;
    padding: 10px;
    background-color: rgb(247, 66, 96);
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(243, 225, 228);
}

#resumeOutput {
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8)
}
#resumeOutput h2{
    color: black;
}


.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(231, 126, 144);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
    border-radius: 500%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}